.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid var(--taniii);
  padding: 2rem;
  border-radius: 15px;
  width: 100%;
}

.height100 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddingRight {
  align-items: flex-start;
  justify-content: flex-start;
}

.tanBorder {
  border: 1px solid var(--tanii);
}

.yellowBorder {
  border: 1px solid var(--yellow);
}

.grayBorder {
  border: 1px solid var(--gray);
}

.taniiBorder {
  background-color: var(--tanii);
  border: none;
}

.blackBorder {
  background-color: var(--black);
  border: none;
}

.noBorder {
  border: none;
  padding: 0rem;
}

.borderBottom {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--tanii);
  padding: 0rem;
  padding-bottom: 1rem;
}

.heading {
  width: 90%;
  /* font-weight: 500; */
}

.smallHeading {
  font-size: 5rem;
  letter-spacing: -1px;
}

.tan {
  color: var(--tan);
}

.yellow {
  color: var(--yellow);
  -webkit-text-stroke: 1.2px var(--black);
  /* font-size: 8rem; */
}

.copy {
  font-size: 2rem;
  letter-spacing: -0.5px;
  z-index: 2;
  margin-top: 2rem;
  /* color: var(--black) */
}

.tanCopy {
  color: var(--tan);
}

.grayiiCopyColor {
  color: var(--grayii);
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    align-items: center;
    justify-content: center;
    padding: 5rem 3rem;
  }

  .heading {
    text-align: center;
    font-size: 10vw;
  }
}
