.container {
  z-index: 1;
  position: relative;
  background-color: var(--white);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.img {
  object-fit: cover;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.qaContainer {
  padding: 3rem 2rem;
  border-bottom: 1px solid var(--taniii);
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 3rem;
  color: var(--black);
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
  color: var(--black);
}

.index {
  margin-right: 1rem;
  font-size: 2rem;
}

.question {
  font-size: 2rem;
  font-family: var(--SuisseIntlMedium);
  text-transform: none;
}

.answer {
  margin-top: 2rem;
  width: 100%;
  color: var(--grayii);
}

.titleHeading {
  letter-spacing: -5px;
  font-size: 15rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
}

.cardInner {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: transform;
}

.card1 .cardInner {
  background-color: var(--black);
}
.card2 .cardInner {
  background-color: var(--lightGray);
}
.card3 .cardInner {
  background-color: var(--yellow);
}
.card4 .cardInner {
  background-color: var(--tan);
}

.card1 .cardInner .titleHeading {
  color: var(--tan);
}

.card2 .cardInner .titleHeading {
  color: var(--black);
}

.card4 .cardInner .titleHeading {
  color: var(--gray);
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    margin-top: 0rem;
  }

  .top {
    align-self: flex-start;
    position: -webkit-sticky;
    position: static;
    top: 90px;
  }

  .imgContainer {
    height: 550px;
  }
}

@media screen and (max-width: 820px) {
  .top .topText {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 6rem;
  }

  .titleHeading {
    font-size: 20.5vw;
    letter-spacing: -5px;
  }

  .imgContainer {
    height: 400px;
  }
}
