.container {
  background-color: var(--black);
  padding: 15rem 0rem;
  padding-bottom: 0rem;
  position: relative;
}

.container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("/images/noise.gif") repeat;
  opacity: 0.04;
}

.sectionIntroContainer {
  border: 1px solid var(--gray);
  border-bottom: none;
  width: fit-content;
  padding: 1rem 2rem;
  position: relative;
  top: 1px;
  background-color: var(--tan);
}

.heading {
  color: var(--yellow);
  background-color: var(--black);
  width: fit-content;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  padding: 2rem;
  position: relative;
}

.indexContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--yellow);
}

.index {
  font-size: 2rem;
  color: var(--yellow);
  font-family: var(--BoogyBrutPoster);
}

.feature {
  color: var(--tan);
  font-size: 3.4rem;
  width: 90%;
  margin-bottom: 2rem;
}

.desc {
  color: var(--tan);
  font-size: 1.4rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  grid-column: span 3;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1068px) {
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .middleLeft {
    width: 100%;
  }

  .sectionTitle {
    border-right: none;
    border-bottom: 1px dashed var(--lightGray);
  }

  .sectionTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .card {
    padding: 3rem;
    border-bottom: 1px dashed var(--black);
  }

  .card:nth-child(2) {
    border-right: none;
  }

  .card:nth-child(3),
  .card:nth-child(4) {
    border-bottom: none;
  }

  .imgContainer {
    grid-column: span 1;

  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-indent: 0em;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
    border-right: none;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .card:nth-child(3) {
    border-bottom: 1px dashed var(--black);
  }

  .desc {
    text-align: center;
  }

  .feature {
    text-align: center;
    width: 100%;
  }
}
