@keyframes pulseCenter {
  0%,
  100% {
    background-color: var(--tan);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    background-color: var(--yellow);
    transform: translate(-50%, -50%) scale(1.08);
  }
}

.icon {
  width: 15rem;
  height: 15rem;
  color: var(--yellow);
}
