.container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  height: 100vh;

  padding-bottom: 15rem;
}

.silkBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-top: 15rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headingClip {
  line-height: 0.95;
  font-family: var(--SuisseIntlCondensed);
}

.headingClip * {
  font-family: inherit;
}

.heading {
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  font-family: var(--SuisseIntlCondensed);
  color: var(--tan);
}

.heading :global(.word),
.heading :global(.line) {
  font-family: inherit;
}

.copy {
  z-index: 2;
  font-size: 2rem;
  letter-spacing: -0.5px;
  width: 40%;
  color: var(--tan);
}

@media (max-width: 1068px) {
  .container {
    height: 100%;
  }

  .copy {
    width: 50%;
  }
}

@media (max-width: 568px) {
  .container {
    height: 100vh;
  }

  .copy {
    width: 80%;
  }

  .br {
    display: none;
  }
}
