.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--white);
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  grid-row-gap: 10rem;
}
