.container {
  background-color: var(--black);
  padding: 20rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
  margin-top: 10rem;
}

.heading {
  color: var(--white);
  font-size: 3.4rem;
  /* font-family: var(--SuisseIntlMedium);
  text-transform: none; */
}

.headingSpan,
.index {
  color: var(--gray);
  /* font-family: var(--SuisseIntlMedium);
  text-transform: none; */
}

.dataMapContainer {
  margin-top: 5rem;
}

.card {
  padding: 3rem 0rem;
  border-top: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  color: var(--white);
  font-family: var(--SuisseIntlMedium);
  text-transform: none;
  white-space: nowrap;
}

.index {
  margin-right: 2rem;
  color: var(--yellow);
}

.icon {
  color: var(--yellow);
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
