.container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--tan);
  padding: 1rem;
}

.silkBg {
  position: absolute;
  inset: 1rem;
  border-radius: 15px;
  border-top: 1px solid var(--tan);
  overflow: hidden;
  pointer-events: none; /* keeps Silk non-interactive */
  z-index: 1;
}

/* position the Nav over top of the Silk, full width */
.navContainer {
  position: absolute; /* relative to .silkBg */
  top: 0;
  left: 0;
  width: 100%; /* span the full silkBg width */
  /* if you really need full height: add height:100%; */
  z-index: 2; /* sits above the canvas (z-1) but below overlay/content (z-3+) */
  pointer-events: auto; /* re-enable clicks inside silkBg for the Nav */
}

.silkBg canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--black);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  min-height: 90vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.headingClip {
  line-height: 1;
  font-family: var(--DoumbarPlateMedium);
}

.headingClip * {
  font-family: inherit;
  /* white-space: nowrap; */
}

.heading {
  visibility: hidden;
  overflow: hidden;
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  font-family: var(--DoumbarPlateMedium);
  color: var(--tan);
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.heading :global(.word),
.heading :global(.line) {
  font-family: inherit;
}

.copy {
  font-size: 2rem;
  letter-spacing: -0.5px;
  text-align: center;
  width: 50%;
  color: var(--tan);
  z-index: 2;
}

.btnContainer {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

/* @media (max-width: 1268px) {
  .container {
    height: auto;
    padding-bottom: 10rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 3rem;
    min-height: auto;
  }
  .copy {
    width: 70%;
  }
} */

@media (max-width: 1068px) {
  .heading {
    width: 100%;
  }
  .copy {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .copy {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .container {
    height: 90vh;
  }
  .content {
    margin-inline: auto;
  }
  .copy {
    width: 100%;
  }
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    text-align: left;
    width: 100%;
  }
}
