.container {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: var(--tan);
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  border-right: 1px solid var(--gray);
  display: flex;
  align-items: center;
}

.leftContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.heading {
  font-family: var(--SuisseIntlMedium);
  font-size: 3rem;
}

.copy {
  font-size: 1.6rem;
  color: var(--text);
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--black);
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1068px) {
  .container {
    min-height: fit-content;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    min-height: fit-content;
    padding: 10rem 0rem;
    padding-bottom: 0rem;
  }

  .left {
    padding-right: 0rem;
  }

  .right {
    padding: 5rem;
  }

  /* .imgContainer {
    height: 500px;
  } */

  /* .right {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyBox {
    margin-top: 5rem;
  }

  .copyBoxMobile {
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .left {
    padding: 10rem 0rem;
    padding-bottom: 20rem;
  }

  .right {
    padding-top: 20rem;
  }
}
