.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--tan);
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  padding-bottom: 5rem;
  background-image: repeating-linear-gradient(
    45deg,
    #0f0c0c,
    #f1f1f1 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}

.title {
  background-color: var(--black);
  padding: 2rem;
  font-family: var(--SuisseIntlCondensed);
  color: var(--yellow);
  font-size: 4.5rem;
}

@media screen and (max-width: 568px) {
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  /* .title {
    font-size: 3.5rem;
  } */
}
