.content {
  /* border-top-right-radius: 500px; */
  /* border-bottom-right-radius: 500px; */
  padding-bottom: 5rem;
  background-image: repeating-linear-gradient(
    45deg,
    var(--black),
    var(--black) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}

.title {
  background-color: var(--black);
  padding: 2rem;
  font-family: var(--SuisseIntlCondensed);
  color: var(--yellow);
  font-size: 4.5rem;
  width: fit-content;
}

.lightGray {
  color: var(--lightGray);
}

.tan {
  color: var(--tan);
}

.white {
  color: var(--white);
}

@media screen and (max-width: 568px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
    padding: 2rem;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border: 1px solid var(--black);
  }

  .titleContainer {
    border-radius: 500px;
    background-color: var(--black);
  }

  .title {
    border-radius: 500px;
    text-align: center;
    width: 100%;
    padding: 3rem;
    font-size: 8vw;
    letter-spacing: 0px;
  }
}
