.container {
  position: relative;
  width: 100%;
  background-color: var(--white);
  padding-bottom: 20rem;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 15rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.sectionIntroAreaBox {
  width: 100%;
  margin-bottom: 5rem;
}

.card {
  background-color: var(--grey);
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.card:hover {
  background-color: var(--greyii);
}

.title {
  font-size: 2rem;
  font-family: var(--SuisseIntlMedium);
  text-transform: none;
}

.arrow {
  transform: rotate(45deg);
  font-size: 3rem;
  color: var(--greyii);
  transition: all 0.2s ease-in;
}

.card:hover .arrow {
  color: var(--black);
}

.imgContainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 350px;
  }
}
