.logo {
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3.5rem;
  z-index: 999;
  user-select: none;
  font-family: var(--SuisseIntlCondensed);
  color: var(--yellow);
}

.large {
  font-size: 7rem;
}

.tan {
  color: var(--tan);
}

.blackii {
  color: var(--blackii);
}

.icon {
  color: var(--yellow);
  width: 5rem;
  height: 5rem;
}
