.container {
  background-color: var(--black);
  padding: 15rem 0rem;
  padding-bottom: 20rem;
  position: relative;
}

.top {
  width: 60%;
}

.heading {
  width: 100%;
  color: var(--yellow);
}

.copy {
  z-index: 2;
  line-height: 1.4;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--tan);
  width: 50%;
}

.falseBtnContainerii {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
  margin-top: 5rem;
  width: 60%;
  margin-left: auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  border-bottom: 1px solid var(--gray);
  /* border-radius: 15px; */
  background-color: var(--black);
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.index {
  font-size: 8rem;
  color: var(--yellow);
}

.cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.title {
  margin-bottom: 1rem;
  color: var(--tan);
  font-size: 2.5rem;
  font-family: var(--SuisseIntlMedium);
  text-transform: none;
}

.description {
  color: var(--tan);
  /* font-size: 1.6rem; */
  width: 80%;
  opacity: 0.7;
}

.icon {
  color: var(--yellow);
  opacity: 0.6;
}

/* .card:nth-child(2) {
  background-color: var(--gray);
  border-color: var(--gray);
}

.card:nth-child(2) .description,
.card:nth-child(2) .index,
.card:nth-child(2) .title {
  color: var(--yellow);
} */

.btnContainer {
  margin-top: 5rem;
}

@media screen and (max-width: 1268px) {
  .top {
    width: 80%;
  }

  .bottom {
    margin-top: 5rem;
    width: 100%;
  }

  .copy {
    width: 60%;
  }

  .description {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .top {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    width: 100%;
  }

  .headingii {
    text-align: center;
    width: 100%;
  }

  .problemContainer {
    flex-direction: column;
  }

  .pattern {
    width: 100%;
  }

  .card {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
