.container {
  padding-top: 20rem;
  background-color: var(--white);
  /* min-height: 75vh; */
  /* padding-bottom: 17rem; */
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-size: 8vw;
  line-height: .9;
  letter-spacing: -4.8px;
  font-weight: 500;
}

.revealText {
  color: var(--white);
  filter: drop-shadow(0 0 0.1rem var(--black));
  line-height: .9;
}

.bottom {
  margin-top: 5rem;
}

@media screen and (max-width: 1268px) {
  .heading {
    width: 100%;
    font-size: 11vw;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 17vw;
    letter-spacing: -3px;
  }
}
